.sidebar{
    height: 100vh;
    
    background: linear-gradient(175deg, #16e4b7 20%, #0fcfec);
    /* background: #f1fffb ; */
}
.on-active{
    background-color: #f1fffb;
    color:rgb(10, 170, 170) ;
}
.list-text:hover{
    color:rgb(10, 170, 170);
}