.header-container {
    height:800px;
    position:relative;
    background-image: url("../../../images/bg.png");
    background-size: cover;
    margin-bottom: 6em;
    
}
.header-container::after{
    height:800px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -10;
}