.link-active{
    border-bottom: 5px solid red;
    border-radius: 3px;
    animation:pulse 5s infinite ;
}

@keyframes pulse {
   
    0% {
      border-color: #001F3F;
    }
    50% {
      border-color: #e3f826;
    }
    100% {
      border-color: #07e77e;
    }
  }