@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  font-family:"Poppins" ;
}

.primary-btn{
  padding: 1em 2em;
  background: linear-gradient(75deg, #19D3AE, #0fcfec);
  color: white;
  font-weight: 600;
  border:none;
  border-radius: 8px;
  font-size: 17px;
}
.primary-text{
  color:#1cc7c1;
  font-weight: 500;
}

.secondary-text{
  color:#3A4256;
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table td, table th {
  border: none;
}
/* .borderless td, .borderless th {
  border: none;
} */